
$branded-header-height: 450px;
$sticky-shrinknav-menu-height: rem-calc(60);

.header-title {
	& .logo {
    margin:0;
    padding:0;
    font-size: map-deep-get($header-styles, small, h1, font-size) * 1px;
    @include breakpoint(medium){
      font-size: map-deep-get($header-styles, medium, h1, font-size) * 1px;
    }
		& a {color: $white;}
	}
  //transition: all 0.3s ease;
  position: relative;
  /*transform: translateY(-$sticky-shrinknav-menu-height/2);
  margin-bottom: 0;*/
  color: $white;
}

.branded-header {
 // z-index: +1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary-color;
  text-align: center;
  color: $white;

  height: $branded-header-height / 1.5;

  background-size: cover;
  background-repeat:no-repeat;
  background-position: 50% 50%; 
  position: relative;
  overflow:hidden;

  @include breakpoint(medium) {
    height: ($branded-header-height);
  }



  & a {color: $white;}
  & .entry-title {clear: both;}
  /*position: fixed;
  top: 0;
  left: 0;
  //overflow: hidden;
  transition: all 0.5s ease;*/
}
nav.navigation  {background-color: $topbar-background;}

.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

[data-sticky] {
  width:100%;
}

.sticky-container {
  z-index: 5;
}

/*


body {
  padding-top: $sticky-shrinknav-hero-height /*+ 30px*//*;/*
}

.sticky-shrinknav-menu {
  @include horizontal-center;
  bottom: 0;
  //height: $sticky-shrinknav-menu-height;
  //line-height: $sticky-shrinknav-menu-height;
  width: 100%;
  //background-color: rgba($primary-color, 0.1);
  transition: all 0.5s ease;
/*
  li {
    border-radius: 2px;
    transition: all 0.3s ease;

    &:hover {
      box-shadow: 0 0 0 1px $white;
    }
  }

  a {
    color: $white;
  }
*/
/*
}

.sticky-shrinknav-header-title {
	& .logo {
    margin:0;
    padding:0;
    font-size: map-deep-get($header-styles, small, h1, font-size) * 1px;
    @include breakpoint(medium){
      font-size: map-deep-get($header-styles, medium, h1, font-size) * 1px;
    }
		& a {color: $white;}
	}
  transition: all 0.3s ease;
  position: relative;
  transform: translateY(-$sticky-shrinknav-menu-height/2);
  margin-bottom: 0;
  color: $white;
}

.sticky-shrinknav-header {
  z-index: +1;
  width: 100%;
  height: $sticky-shrinknav-hero-height;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary-color;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  //overflow: hidden;
  transition: all 0.5s ease;
}

body.sticky-shrinknav-wrapper {
  padding-top: 130px;

  .sticky-shrinknav-header{
    height: $sticky-shrinknav-menu-height;
    background-color: $topbar-background;

    .sticky-shrinknav-header-title{
      transform: scale(0);
      transition: all 0.3s ease;
    }
  }
}

*/